<% layout('layout') -%>
<p><a href="/cameras/<%= cameraName %>" class="back">&lt; Back to <%= cameraName %></a></p>

<h1><%= cameraName %></h1>

<h3>Top photos</h3>

 <ul class="pics">
<% for(var i=0; i< photoset.length; i++) {
  var p = photoset[i];  %>
   <li ><a href="<%= p.url %>"><img src="<%= p.src %>" class="pic"></a></li>
<% } %>
</ul>
