<% layout('layout') -%>
<p><a href="/camera/<%= encodeURIComponent(cameraName) %>" class="back">&lt; Back to <%= cameraName %></a></p>

<h1><%= cameraName %> <span class="arrow">-&gt;</span> <%= lensName %></h1>

<h3>Metrics</h3>

<h5>Focal Length</h5>

<canvas id="focalLength" width="800" height="300"></canvas>

<h3>Top photos</h3>

 <ul class="pics">
<% for(var i=0; i< photoset.length; i++) {
  var p = photoset[i];  %>
   <li ><a href="<%= p.url %>" target="_blank"><img src="<%= p.src %>" class="pic"></a></li>
<% } %>
</ul>




<script>


$(function() {

  var data = {
      labels: [<%= focalLength._id %>],
      datasets: [
          {
              label: "Focal Lengths",
              fillColor: "rgba(100,100,100,0.5)",
              strokeColor: "rgba(100,100,100,0.8)",
              highlightFill: "rgba(100,100,100,0.75)",
              highlightStroke: "rgba(100,100,100,1)",
              data: [<%= focalLength.count %>]
          }
      ]
  };


  var focalLength = document.getElementById("focalLength").getContext("2d");
  var myNewChart = new Chart(focalLength).Line(data);

});


</script>
